# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
.build/
build/
cmake-build-debug/
cmake-build-release/

# Dependency directories
deps/

# Binary directory
bin/

# Backup & Other files that should not be uploaded
*~
*.swp
.DS_Store

